@model PupilCreateViewModel
@inject ITeachersRepository _teachers
@{
    ViewBag.Title = "Create new pupil";
    //IEnumerable<Teacher> teachers = _teachers.GetAll().ToList();
    IEnumerable<Teacher> items = _teachers.GetAll();
}
<div><h2 class="text-center fw-bolder">Create new pupil</h2></div>

<form asp-controller="pupil" asp-action="create" method="post" class="col-md-8 col-sm-10 col-lg-6 col-xl-4 m-1">
    <div>
        <label class="form-label d-flex" asp-for="@Model.FullName"></label>
        <div>
            <input asp-for="@Model.FullName" placeholder="Ivan Shatunov..." />
        </div>
        <span class="text-danger" asp-validation-for="@Model.FullName"></span>
    </div>
    <div>
        <label asp-for="@Model.Old"></label>
        <div>
            <input asp-for="@Model.Old" placeholder="15..." />
        </div>
        <span class="text-danger" asp-validation-for="@Model.Old"></span>
    </div>
    <div>
        <label asp-for="@Model.Grade"></label>
        <div>
            <select asp-items="@Html.GetEnumSelectList<Grades>()" asp-for="@Model.Grade">
                <option>Please select...</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="@Model.Grade"></span>
    </div>
   @* <div>
        <label>Educator name</label>
        <div>
            <select>
                @foreach (var educator in ViewBag.Teachers)
                {
                    <option value="@educator.TeacherId">@educator.TName</option>
                }
            </select>
        </div>
    </div>*@
    <div>
        <button class="btn btn-primary m-1" type="submit">Create</button>
        <a asp-controller="pupil" asp-action="index" class="btn btn-warning m-1">Cancel</a>
    </div>
</form>